@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    
}

:root {
    --color-white: #f6f6fe;
    --color-primary: #696fdd;
    --color-primary-light: #a3a8f0;
    --color-light-blue: #b3b5c6;
    --color-blue: #6d708d;
    --color-dark-blue: #494c5f;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    background-color: var(--color-light-blue);
    height: 100vh;
}

header {
    display: flex;
    padding: 20px;
    margin-bottom: 10px;
}

header a {
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    letter-spacing: 4px;
    background-color: var(--color-white);
    color: var(--color-primary);
    padding: 15px;
    border-radius: 30px;
    opacity: 0.8;
}

header a:hover {
    opacity: 1;
    transition: all .3s;
}

#pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

#pricing span#checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 100px;
}
#pricing p {
    color: var(--color-dark-blue);
}


/* BUTTON CHECKBOX */

#chk {
    display: none;
}

.switch {
    position: relative;
    background-color: var(--color-primary);
    width: 60px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.slider {
    position: absolute;
    background-color: var(--color-white);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transition: all .5s ease-in-out;
}

#chk:checked ~ .switch {
    background-color: var(--color-primary-light);
}

#chk:checked ~ .switch .slider {
    transform: translateX(30px);
}

/* ---------------------XX------------------- */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-bottom: 100px;
    position: absolute;
    bottom: 0;
}

.card {
    background-color: var(--color-white);
    width: 350px;
    height: 450px;
    border-radius: 10px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.card-primary {
    background: linear-gradient(to right, var(--color-primary-light), var(--color-primary));
    color: var(--color-white);
    width: 350px;
    height: 500px;
    border-radius: 10px;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.171);
}

strong {
    font-size: 64px;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
    justify-content: space-between;
    height: 100px;
}

button {
    margin: 0px auto 10px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    background-color: var(--color-primary);
    color: var(--color-white);
}

button:hover {
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    transition: all .5s;
}

.button-primary {
    background-color: var(--color-white);
    color: var(--color-primary);
}
.button-primary:hover {
    background-color: transparent;
    border: 1px solid var(--color-white);
    color: var(--color-white);
    transition: all .5s;
}