@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --color-white: #f6f6fe;
    --color-primary: linear-gradient(#a3a8f0 to #696fdd); 
    --color-light-blue: #b3b5c6;
    --color-blue: #6d708d;
    --color-dark-blue: #494c5f;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: var(--color-light-blue);
    height: 100vh;
}

header {
    display: flex;
    padding: 20px;
    margin-bottom: 10px;
}

#pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

#pricing span#checkbox {
    display: flex;
    align-items: center;
    margin-top: 20px;
}


/* BUTTON CHECKBOX */

#chk {
    display: none;
}

.switch {
    position: relative;
    background-color: #777;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.slider {
    position: absolute;
    background-color: var(--color-white);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transition: all .5s ease-in-out;
}

#chk:checked ~ .switch {
    background-color: var(--color-dark-blue);
}

#chk:checked ~ .switch .slider {
    transform: translateX(30px);
}

/* ---------------------XX------------------- */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-bottom: 100px;
    position: absolute;
    bottom: 0;
}

.card {
    background-color: var(--color-white);
    width: 200px;
    height: 500px;
}
